<div class="row">
  <div class="col text-center"><%= @language.name %></div>
</div>
<div class="row">
  <div class="col">
    <%= form_for @language, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
      Order
      <%= f.number_field :order %>
      <br>
      Name
      <%= f.text_field :name, autofocus: true %>
      <br>
      <%= f.submit "Edit language" %>
    <% end %>

  </div>
</div>

