<div class="row">
  <div class="col">
    <h2>All Languages</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Programming Language</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @languages.each_with_index do |language, indx| %>
          <tr>
            <td><%= indx + 1 %>. </td>
            <td><%= link_to language.name, edit_admin_language_path(language), class: "btn btn-secondary" %></td>
            <td><%= link_to 'Edit', edit_admin_language_path(language), class: "btn btn-success" %></td>
            <td><%= link_to 'Delete', admin_language_path(language), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col">
    <%= form_for @language, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      Order
      <%= f.number_field :order, value: 99 %>
      <br>
      Name
      <%= f.text_field :name, autofocus: true %>
      <br>
      <%= f.submit "Add new language" %>
    <% end %>
  </div>
</div>

