<div class="row">
  <div class="col">
    <h2>All Books</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Book name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each_with_index do |book, indx| %>
          <tr>
            <td><%= indx + 1 %>. </td>
            <td><%= link_to book.name, admin_book_path(book), class: "btn btn-secondary" %></td>
            <td><%= link_to 'Edit', edit_admin_book_path(book), class: "btn btn-success" %></td>
            <td><%= link_to 'Delete', admin_book_path(book), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col">
    <%= form_for @book, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      <%= f.text_field :name, autofocus: true %>
      <%= f.submit "Add new Book" %>
    <% end %>
  </div>
</div>
