<div class="row main__nav__row">
  <div class="col-md-4 offset-md-1">
    <div class="btn-group my-btn-nav-group" role="group" aria-label="Main Navigation">
      <%= link_to "Learn", learn_path, class: "btn btn-lg btn-secondary #{params[:controller] == 'static_pages' ? 'active' : ''}" %>
      <%= link_to "Text", books_path, class: "btn btn-lg btn-secondary #{params[:controller] == 'books' || params[:controller] == 'book_pages' ? 'active' : ''}" %>
      <%= link_to "Code", languages_path, class: "btn btn-lg btn-secondary #{params[:controller] == 'languages' || params[:controller] == 'os_projects' ? 'active' : ''}" %>
    </div>
  </div>

    <% unless params[:controller] == 'static_pages' %>
      <div class="md-col-1">
        <% if %w(languages os_projects).include? params[:controller] %>
        <div class="dropdown">
          <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </button>
          <span v-cloak id= "current__page_parent" class="badge badge-info">{{ pageParentName }}</span>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <!-- <p>TODO cache this </p> -->
            <% @languages.each do |language| %>
              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="#"><%= language.name %></a>
                <ul class="dropdown-menu">
                  <% language.os_projects.each do |os_project| %>
                    <li class="dropdown-item">
                      <%= link_to os_project.name, language_os_project_path(language, os_project) %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
          <% end %>

          <% if params[:controller] == 'books' || params[:controller] == 'random_words' %>
              <div class="dropdown">
              <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Practice
              </button>
              <span v-cloak id= "current__page_parent" class="badge badge-info">{{ pageParentName }}</span>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#">Books</a>
                  <ul class="dropdown-menu">
                    <!-- <p>TODO cache this </p> -->
                    <% @books.each do |book| %>
                      <li class="dropdown-item">
                        <%= link_to book.name, book_path(book) %>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li class="dropdown-item">
                  <%= link_to "random: sentance", random_words_path(page_name: "random: sentance") %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "random: Chuck Norris", random_words_path(page_name: "random: chuck norris") %>
                </li>
              </ul>
              <% end %>

        </div>
        </div>

        <div class="md-col-2 offset-md-2">
          <div  id="button-compete" @click="competeToggle" v-bind:class="{ 'btn-outline-success': Number(compete), 'btn-outline-secondary': !Number(compete) }" class="btn btn-lg btn">Compete:
            <i v-bind:class="{ 'fa fa-toggle-on': Number(compete), 'fa fa-toggle-off': !Number(compete) }"></i>
          </div>
        </div>
      <% end %>
  </div>
