<div class="row">
  <div class="col">
    <h4>Open Source Project:</h4>
		<h2><%= @os_project.name %></h2>
    <h5>New Page</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form_for [@language, @os_project, @os_page], url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      Page_number
      <%= f.number_field :number, value: @page_number %>
      <br>
      Content
      <%= f.text_area :content, autofocus: true, rows: 20, style: 'width:100%;' %>
      <%= f.submit "Add new Page" %>
    <% end %>
  </div>
</div>
