<!DOCTYPE html>
<html>
  <head>
    <title>TypingApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class='container'>
      <div class="row">
        <div class="col">
          <h1 class='text-center'>Admin
            <div class="pull-right">
              <%= link_to "Books", admin_books_path, class: "btn btn-info" %>
              <%= link_to "Languages", admin_languages_path, class: "btn btn-warning" %>
            </div>
          </h1>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
