<!DOCTYPE html>
<html>
  <head>
    <title>TypingApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container-fluid">
      <div id="type-console">
        <%= render 'partials/main' %>

        <div v-show="stats" v-cloak>
          <div class="alert alert-info" role="alert">
            {{ statsMsg }} <br> {{ userSpeedMsq }} <br> {{ computerSpeedMsg }} <br>
          </div>
          Press <strong>any Key</strong> to continue
        </div>
          <div v-show="finishExercise" v-cloak>
            <div class="alert alert-success" role="alert">
              <strong>Awesome!</strong> You are finished with this section.
              <br>
            </div>
          </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
