<!DOCTYPE html>
<html>
  <head>
    <title>TypingApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">

      <%= yield %>

    </div>
  </body>
  <script>

    <% if @page&.content %>
      $(function() {
        let competeSwitch = $(".slider");
        competeSwitch.click(function(){ compete = !compete; });

        typingConsole("<%= @page.content.html_safe %>");
      });
    <% end %>
  </script>
</html>
