<!DOCTYPE html>
<html>
  <head>
    <title>TypingApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container-fluid">

      <%= yield %>

      <div id="type-console">
        <%= render 'partials/main' %>
      </div>

    </div>
  </body>
  <script>


var typeConsole = new Vue({
  el: '#type-console',
  data: {
    bookId: <%= @book_id %>,
    pageIds: <%= @book_page_ids %>,
    content: "",
    stats: "",
  },
  methods: {
    fetchPageContent: function() {
      if (this.pageIds.length > 0) {
        this.$http.get(`/books/${this.bookId}/book_pages/${this.pageIds.shift()}.json`).then((response) => {
          typingConsole(response.data.page_content)
        }, (response) => {
          alert("We had trouble loading content")
        });
      } else {
        this.stats = "Great. You have finished with this exercises."
      }
    }
  }
})

typeConsole.fetchPageContent();

  </script>
</html>
